$mainBlue: #000;
$mainOrange: #d59541;
$mainGreen: #16a085;
$gray: #7f8c8d;
$dark: #141414;


/*Green #329649*/
/*Green #1abc9c*/
/*gray #454E56*/
$heading: 'Open Sans', sans-serif;
$paragraph: 'Work Sans', sans-serif;