.p3-text-box {
	margin: 0 auto;
	margin-top: 10%;
	max-width: 65%;
	h1, h2, h3, h4 {
		font-family: $heading;
		color: $mainGreen;
	}
	p {
		font-family: $paragraph;
		font-size: 1.2rem;
		text-align: justify;
	}

	&__heading {
		margin: 0 auto;
		margin-bottom: 4rem;
		width: 200px;
	}
}