.p3-text-box {
	margin: 0 auto;
	margin-top: 20%;
	max-width: 90%;

	@mixin atMedium {
		max-width: 65%;
		margin-top: 10%;
	}

	h1, h2, h3, h4 {
		font-family: $heading;
		color: $mainGreen;
	}
	p {
		font-family: $paragraph;
		font-size: 1.2rem;
		text-align: justify;
	}

	&__heading {
		margin: 0 auto;
		margin-bottom: 2rem;
		width: 100%;
		text-align: center;

		@mixin atMedium {
			margin-bottom: 4rem;
			width: 200px;
		}
	}

	&__red {
		margin-bottom: 50px;
		h2, h3 {
			font-family: $heading;
			color: $mainOrange;
			text-align: center;
			margin-bottom: 20px;
		}
		ul{
			margin: 0 auto;
			margin-bottom: 10%;
			width: 250px;
		}
		ul>li{
			color: $mainOrange;
			font-family: $paragraph;
			line-height: 25px;
			font-weight: 600;
		}
	}
}
