.about {
	width: 100%;
	height: auto;
	background-color: $gray;
	position: relative;
	padding-top: 20px;
    color: #fff;

    &__img {
		img {
		width: 100%;
		margin-top: 40%;
    	height: 420px;
    	border: 5px solid #9E9E9E;
    	box-shadow: 6px 6px 10px 5px #232627;
		}
    }

    &__text {
    	max-width: 550px;
    	margin-left: 10%;
    	text-align: justify;
    	h3 {
    		font-family: $heading;
    	}
    	p {
    		font-family: $paragraph;
    		font-size: 1.2rem;
    	}
    	li {
    		font-family: $paragraph;
    	}
    }

    @mixin atMedium {
    	padding-top: 100px;	
    }
}