.about {
	width: 100%;
	height: auto;
	background-color: $gray;
	position: relative;
	padding-top: 20px;
    padding-bottom: 100px;
    color: #fff;

    &__img {
		img {
		width: 100%;
		margin-top: 5%;
        margin-bottom: 5%;
    	height: 180px;
    	border: 5px solid #9E9E9E;
    	box-shadow: 6px 6px 10px 5px #232627;
            
            @mixin atSmall{
                height: 350px;
            }

            @mixin atMedium {
                margin-top: 25%;
                margin-bottom: 0;
                height: 300px;
            }
            @mixin atLarge {
              margin-top: 30%;
              margin-bottom: 0;
              height: 500px;  
            }
		}
    }

    &__text {
    	max-width: auto;
    	margin-left: 0;
        padding: 0px 5px;
    	text-align: justify;

        @mixin atMedium {
            max-width: 550px;
            margin-left: 10%;
        }

        @mixin atLarge {
            max-width: 600px;
            margin-left: 15%;
        }

    	h3 {
    		font-family: $heading;
    	}
    	p {
    		font-family: $paragraph;
    		font-size: 1rem;
            @mixin atMedium {
             font-size: 1.2rem;   
            }
    	}
    	li {
    		font-family: $paragraph;
    	}
    }

    @mixin atMedium {
    	padding-top: 100px;	
    }
}
.resume-btn {
    text-align: center;
}