.btn{
	background-color: transparent;
	color: #fff;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;
	border: 2px solid #fff;
	border-radius: 1.5rem;
	transition: .5s;

	&__nav {
		padding: .5rem 1.5rem;
		background-color: $mainGreen;
		margin-bottom: 5px;
	}

	&__large {
		padding: .8rem 2.5rem;
		font-family: $paragraph;

		@mixin atSmall {
		font-size: 1.25rem;
		}
	}
}

.btn__large:hover {
	background-color: $mainGreen;
	padding: .8rem 3rem;
}