.contact {
	width: 100%;
	height: auto;
	background-color: $mainGreen;
	position: relative;
	padding-bottom: 100px;
}

#map {
	width: 100%;
	height: 200px;
	display: none;

	@mixin atMedium {
		width: 100%;
		height: 350px;
		display: block;
	}
}

.social {
	text-align: center;
	color: #fff;

	h2 {
		font-family: $heading;
	}

	p {
		font-family: $paragraph;
		line-height: 1.5rem;
	}

	&__links {
		text-align: center;
		color: #fff;
		

		a {
			margin: 5px;
			color: #fff;
			transition: color .3s;
		}

		a:hover {
			color: $gray;
		}
	}
}