.shape:before {
	content: '';
	width: 50%;
	height: 65px;
	position: absolute;
	top: -48px;
	left: 0;
	background: inherit;
	transform: skewY(8deg);

	@mixin atSmall {
		height: 80px;
	}
	@mixin atMedium {
		height: 100px;
	}
	@mixin atLarge {
		height: 100px;
	}
}
.shape:after {
	content: '';
	width: 50%;
	height: 65px;
	position: absolute;
	top: -48px;
	right: 0;
	background: inherit;
	transform: skewY(-8deg);

	@mixin atSmall {
		height: 80px;
	}
	@mixin atMedium {
		height: 100px;
	}
	@mixin atLarge {
		height: 100px;
	}
}