.shapeBefore:before {
	content: '';
	width: 100%;
	height: 65px;
	position: absolute;
	top: -38px;
	left: 0;
	background: inherit;
	transform: skewY(2deg);

	@mixin atSmall {
		height: 80px;
	}
	@mixin atMedium {
		height: 100px;
	}
	@mixin atLarge {
		height: 100px;
	}
}
.shapeAfter:after {
	content: '';
	width: 100%;
	height: 65px;
	position: absolute;
	top: -38px;
	right: 0;
	background: inherit;
	transform: skewY(-2deg);

	@mixin atSmall {
		height: 80px;
	}
	@mixin atMedium {
		height: 100px;
	}
	@mixin atLarge {
		height: 100px;
	}
}