
.large-hero {
	height: 90vh;
	position: relative;
	background-color: #000;

&__image {
	display: block;
	min-height: 100%;
	width: 100%;
	position: fixed;
	opacity: 0.3;

	@mixin atSmall {
	height: 500px;
	width: 100%;
	}
}

&__text-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	width: 100%;
	text-align: center;
	padding-top: 40px;

	@mixin atMedium {
		padding-top: 60px;
	}
}

&__title {
	font-weight: 300;
	color: #fff;
	font-size: 1.5rem;
	margin: 0;
	margin-bottom: 10px;
	font-family: $heading;

	@mixin atSmall {
		font-size: 3rem;
	}

}

&__subtitle {
	font-weight: 700;
	color: #fff;
	font-size: 1.5rem;
	margin: 0;
	font-family: $heading;

	@mixin atSmall {
		font-size: 2.5rem;
	}
}

&__description {
	color: #fff;
	font-size: 1rem;
	text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: 2px;
	font-family: $paragraph;

	@mixin atMedium {
		width: 28ch;
	}
}

&__info{
		width: 100%;
}
	@mixin atSmall {
		font-size: 1.875rem;
	}

}

/*text animation*/

.text-anim {

	@mixin atMedium {
		animation: typing-text 5s steps(28), blink 0.5s infinite alternate;
		overflow: hidden;
		white-space: nowrap;
		border-right: 2px solid #fff;
	}
}

@keyframes typing-text {
	from{
		width: 0;
	}
	to{
		width: 28ch;
	}
}

@keyframes blink {
	from{
	border-color: transparent;
	}
	to{
	border-color: #fff;
	}
}

.hero-hr {
	width: 15%;
	height: 2px;
	margin: 0 auto;
	background-color: #fff;
}