.project {
	background: $mainGreen;
	width: 100%;
	height: auto;
	color: #fff;
	position: relative;
	padding-bottom: 100px;

	&__btn {
		text-align: center;
		margin: 20px 0px;

		@mixin atMedium {
			margin: 50px 0px;
		}
		a {
			margin: 10px;
		}
	}

	&__btn>.active {
		background-color: $mainBlue;
	}
}

.tab-box {
	display: none;
}

.tab-box.active {
	display: block;
}

.project-box {
	width: 280px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;

	@mixin atMedium {
		width: 450px;
	}
}

.project-box img {
	width: 100%;
}

.project-text {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	transform: scale(0);
	opacity: 0;
	transition: .5s;

	p {
		text-align: center;
	}

	ul {
		position: absolute;
		top: 20%;
		left: 10%;
		transform-origin: top left;

		@mixin atMedium {
			top: 20%;
			left: 20%;
		}

		li {
			margin: 5px;
		}
	}
}

.project-box:hover .project-text {
	opacity: 0.8;
	transform: scale(1);
}